* { 
    margin: 0;
    padding: 0; 
}
html, body {
    height: 100%;
    background: green;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
#container {
    min-height: 100%;
}
#app {
    overflow: auto;
    height: 100%;
    padding-bottom: 2em;
}
#footer {
    height: 1em;
    margin-top: -2em;
    position: relative;
    clear: both;
    background-color: green;
    text-align: right;
    padding: 0.5em;
}
#header {
    width: 100%;
    min-width: 120px;
    background-color: white;
    color: black;
    font-size: large;
    display: flex;
    justify-content: flex-end;
}
#title {
    padding: 10px;
    min-width: 100px;
}
#headerspace {
    width: 100%;
    min-width: 0;
}
#auth {
    padding: 10px;
    min-width: 120px;
    justify-content: flex-end;
}